body {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 40%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #1d7eab 50%, #1d7eab),
    linear-gradient(172deg, rgba(0, 0, 0, 0) 50%, #4ae0ff 50%, #4ae0ff),
    linear-gradient(157deg, rgba(0, 0, 0, 0) 50%, #1d7eab 50%, #1d7eab),
    linear-gradient(143deg, rgba(0, 0, 0, 0) 50%, #4ae0ff 50%, #4ae0ff),
    linear-gradient(127deg, rgba(0, 0, 0, 0) 50%, #1d7eab 50%, #1d7eab),
    linear-gradient(112deg, rgba(0, 0, 0, 0) 50%, #4ae0ff 50%, #4ae0ff),
    linear-gradient(97deg, rgba(0, 0, 0, 0) 50%, #1d7eab 50%, #1d7eab),
    linear-gradient(82deg, rgba(0, 0, 0, 0) 50%, #4ae0ff 50%, #4ae0ff),
    linear-gradient(67deg, rgba(0, 0, 0, 0) 50%, #1d7eab 50%, #1d7eab),
    linear-gradient(52deg, rgba(0, 0, 0, 0) 50%, #4ae0ff 50%, #4ae0ff),
    linear-gradient(37deg, rgba(0, 0, 0, 0) 50%, #1d7eab 50%, #1d7eab),
    linear-gradient(22deg, rgba(0, 0, 0, 0) 50%, #4ae0ff 50%, #4ae0ff),
    linear-gradient(8deg, rgba(0, 0, 0, 0) 50%, #1d7eab 50%, #1d7eab),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, #4ae0ff 50%, #4ae0ff);
  background-position: 0% 0%;
  background-size: 100% 200%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* #root {
  width: 100vw;
} */

.active {
  color: red;
}

.inactive {
  color: blue;
}
