#root {
  width: 100%;
}

.active {
  color: red;
}

.inactive {
  color: blue;
}

body{


background-image: 
radial-gradient( rgba(255,255,255,.9) 0%, rgba(255,255,255,0) 40%),
linear-gradient(180deg, rgba(0,0,0,0) 50%, #1D7EAB 50%, #1D7EAB),
linear-gradient(172deg, rgba(0,0,0,0) 50%, #4AE0FF 50%, #4AE0FF),
linear-gradient(157deg, rgba(0,0,0,0) 50%, #1D7EAB 50%, #1D7EAB),
linear-gradient(143deg, rgba(0,0,0,0) 50%, #4AE0FF 50%, #4AE0FF),
linear-gradient(127deg, rgba(0,0,0,0) 50%, #1D7EAB 50%, #1D7EAB),
linear-gradient(112deg, rgba(0,0,0,0) 50%, #4AE0FF 50%, #4AE0FF),
linear-gradient(97deg, rgba(0,0,0,0) 50%, #1D7EAB 50%, #1D7EAB),
linear-gradient(82deg, rgba(0,0,0,0) 50%, #4AE0FF 50%, #4AE0FF),
linear-gradient(67deg, rgba(0,0,0,0) 50%, #1D7EAB 50%, #1D7EAB),
linear-gradient(52deg, rgba(0,0,0,0) 50%, #4AE0FF 50%, #4AE0FF),
linear-gradient(37deg, rgba(0,0,0,0) 50%, #1D7EAB 50%, #1D7EAB),
linear-gradient(22deg, rgba(0,0,0,0) 50%, #4AE0FF 50%, #4AE0FF),
linear-gradient(8deg, rgba(0,0,0,0) 50%, #1D7EAB 50%, #1D7EAB),
linear-gradient(0deg, rgba(0,0,0,0) 50%, #4AE0FF 50%, #4AE0FF);
background-position: 50% -100%; 
background-size: contain;
background-repeat: no-repeat;
} 